.form__input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    height: 50px;
    border:none;
    border-radius: 15px;
}

.form__input:active,
.form__input:focus {
    border: 3px solid  #D5FA30;
    border-radius: 15px;
}

.form__search-button {
    min-width: 100px;
    padding: 15px 25px;
    box-sizing: border-box;
    background-color: #D5FA30;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    border:none;
}

.form__label {
    flex-grow: 1;
    margin-right: 20px;
}

.form__field {
    display: flex;
    justify-content: space-between;
}
